# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# VS
*.vcxproj
*.pdb
*.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
/.gitignore
/.gitattributes

# Executables
*.exe
*.out
*.app

/Debug
/x64
/Gametility.sln
/DivisionCore/x64
/DivisionCore/.idea
/DivisionCore/cmake-build-debug
/DivisionCore/Debug
/DivisionCore/DivisionCore.vcxproj
/DivisionCore/DivisionCore.vcxproj.filters
/DivisionCore/DivisionCore.vcxproj.user
*.sln
*.ipch
Gametility.sln
Gametility.sln
Test/Component.cpp
Test/GameObject.cpp
Test/Object.cpp
Test/Test.vcxproj.filters
Test/Transform.cpp
Test/Transform.h
Test/Test.vcxproj.user
Test/Object.h
Test/GameObject.h
Test/Component.h
Gametility.sln
Test/Vectors.cpp
Test/Vectors.h
Test/x64/Debug/Test.log
Test/x64/Debug/Test.tlog/CL.command.1.tlog
Test/x64/Debug/Test.tlog/CL.read.1.tlog
Test/x64/Debug/Test.tlog/CL.write.1.tlog
Test/x64/Debug/Test.tlog/Test.lastbuildstate
Test/x64/Debug/Test.tlog/unsuccessfulbuild
Test/x64/Debug/vc142.idb
